@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

/* 重置浏览器样式 */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
}

img,
span,
a,
i,
input,
label,
textarea,
footer,
header,
section,
nav {
    vertical-align: baseline;
}

/* ------------------ */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #778E75;
    overflow: hidden;
    height: 100vh;
}

.welcome {
    position: fixed;
    top: -45px;
    width: 150px;
    height: 35px;
    padding: 2px 4px;
    line-height: 35px;
    text-align: center;
    border-radius: 12px;
    color: #d4cec6;
    background-color: #3E776B;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 2px rgba(1, 1, 1, .3);
    opacity: 0.7;
    transition: top 1.6s;
}

/* 遮罩层 */
.mask {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgb(213, 202, 189, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 3;
}

.maskAppear {
    display: flex;
}

/* 详细菜单 */
.mask .setting-item {
    width: 500px;
    height: 400px;
    padding: 25px;
    position: absolute;
    /*display: flex;
    */
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    background-color: #778E75;
    color: #d5c5b3;
    box-shadow: #508269 0 10px 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.mask .setting-item div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    background-color: #508269;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 95%;
    gap: 15px;
    padding: 8px;
}

.mask .setting-item div li,
.mask .setting-item h2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 详细菜单退出图标的 hover */
.mask .setting-item h2 i:hover {
    color: #508269;
}

.mask .setting-item div li i {
    color: #77A574;
}

/* .mask #Search-preferences div li i {
    display: none;
} */

/* 控制浏览引擎偏好设置中的 check 图标隐藏和出现  */
.checkHidden {
    display: none;
}

.checkAppear {
    display: block;
}

/* 浏览引擎偏好设置中每个选项的 hover */
.mask #Search-preferences div li:hover {
    color: #77A574;
    cursor: pointer;
}

/* 小菜单 */
.menu {
    position: absolute;
    top: 75px;
    right: -120px;
    padding: 8px 5px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    background-color: #D5CABD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    z-index: 3;
}

.menu .subkey {
    width: 100px;
    height: 25px;
    padding: 5px;
    line-height: 20px;
    color: #3E776B;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.menu .subkey:hover {
    background-color: #3E776B;
    color: #D5CABD;
}

/* 小菜单的移动效果 */
.menuMove {
    right: 50px;
}

/* 设置图标 */
.setting {
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    color: #3E776B;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    z-index: 3;
}

.setting:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

/* Weather */
.weatherArea {
    position: absolute;
    top: 140px;
    left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-100px);
    gap: 15px;
    color: #D5CABD;
    font-size: 20px;
}

.weatherArea .weather {
    display: flex;
    align-items: center;
    gap: 8px;
}

.weatherArea .weather img {
    width: 30px;
    height: 30px;
}

/* title 渐变的颜色准备 */
:root {
    --color1: #d5cabd;
    --color2: #508269;
    --color3: #d5cabd;
    --color4: #508269;
    --color5: #d5cabd;
    /* --color6: #508269; */
}

/* Title */
.title {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    font-size: 4rem;
    /*color: #D5CABD;
    */
    cursor: pointer;
    margin-bottom: 10px;
    font-family: "Luckiest Guy", cursive;
    letter-spacing: 5px;
    background: linear-gradient(225deg, var(--color1) 0%, var(--color1) 9%, transparent 9%, transparent 10%, var(--color2) 10%, var(--color2) 19%, transparent 19%, transparent 20%, var(--color3) 20%, var(--color3) 29%, transparent 29%, transparent 30%, var(--color4) 30%, var(--color4) 39%, transparent 39%, transparent 40%, var(--color5) 40%, var(--color5) 49%, transparent 49%, transparent 50%, var(--color1) 50%, var(--color1) 59%, transparent 59%, transparent 60%, var(--color2) 60%, var(--color2) 69%, transparent 69%, transparent 70%, var(--color3) 70%, var(--color3) 79%, transparent 79%, transparent 80%, var(--color4) 80%, var(--color4) 89%, transparent 89%, transparent 90%, var(--color5) 90%, var(--color5) 99%, transparent 99%);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 200%;
    color: transparent;
    animation: colorText 4s linear infinite;
    -webkit-animation: colorText 8s linear infinite;
}

/* title 的文字变色动画 */
@keyframes colorText {
    0% {
        background-position: 0px 100%;
    }

    100% {
        background-position: 100% 0px;
    }
}

/* 时间显示区域 */
.dateArea {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.dateArea li {
    display: flex;
    justify-content: space-between;
    color: #D5CABD;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.dateArea:hover li {
    transform: scale(1.2);
    color: #508269;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* 搜索部分 */
.search-box {
    display: flex;
    width: 360px;
    align-items: center;
    background-color: #508269;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    box-shadow: #3e776b 4px 4px 4px;
    margin-bottom: 120px;
}

.search-btn {
    color: #D5CABD;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #508269;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    color: #D5CABD;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
}

.search-box .clear {
    transform: translateX(-12px);
    color: #D5CABD;
    visibility: hidden;
    -webkit-transform: translateX(-12px);
    -moz-transform: translateX(-12px);
    -ms-transform: translateX(-12px);
    -o-transform: translateX(-12px);
}

.search-txt::placeholder {
    color: #d3c8bb;
}

.search-box:hover>.search-txt {
    width: 300px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: #778e75;
}

/* To-do list */
.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: #d5cabd;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(56, 55, 55, 0.5);
    border-radius: 10px;
    width: 480px;
    height: 390px;
    text-align: center;
    top: -430px;
    transition: all 1.2s;
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
}

/* To-do list 的动画效果 */
.move {
    top: 260px;
}

.todo-list .todo-title {
    cursor: pointer;
    padding-top: 10px;
    font-size: 26px;
    color: #508269;
}

.todo-list input {
    border-radius: 10px;
    width: 65%;
    border: none;
    background-color: #f5f5f5;
    color: #666;
    font-size: 14px;
    padding: 8px 16px;
    display: block;
    height: 16px;
    margin-bottom: 12px;
    box-shadow: 0 4px 10px rgba(62, 119, 107, 0.7);
}

.todo-list input::placeholder {
    color: #D5CABD;
}

.todo-list input:focus {
    outline-color: #508269;
}

.todo-list .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: transparent;
}

.todo-list .list .Blank-prompt {
    color: #508269;
    font-size: 18px;
    opacity: 0.5;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 10px;
    border-radius: 12px;
    color: #508269;
    background-color: #D5CABD;
    box-shadow: 0 4px 10px rgba(62, 119, 107, 0.6);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

/* todo-item 被选为 star 后添加的样式 */
.selected {
    opacity: 0.8;
    color: #d4cec6;
    background-color: #508269;
}

/* Quick Link */
.quick-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.quick-link h5 {
    color: #D5CABD;
}

.quick-link .link-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.quick-link .link-item .link-icon {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #D5CABD;
    border-radius: 6px;
    color: #508269;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.quick-link .link-item .link-icon .fa-trash-can {
    visibility: hidden;
    transform: scale(0.8) translatex(26px);
    position: relative;
    top: -5px;
    -webkit-transform: scale(0.8) translatex(26px);
    -moz-transform: scale(0.8) translatex(26px);
    -ms-transform: scale(0.8) translatex(26px);
    -o-transform: scale(0.8) translatex(26px);
}

.quick-link .link-item .link-icon span {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    width: 26px;
    height: 26px;
    line-height: 26px;
    color: #D5CABD;
    background-color: #508269;
    transform: translateY(-14px);
    -webkit-transform: translateY(-14px);
    -moz-transform: translateY(-14px);
    -ms-transform: translateY(-14px);
    -o-transform: translateY(-14px);
}

.quick-link .link-item .link-icon:hover .fa-trash-can {
    visibility: visible;
}

.quick-link .link-item .link-name {
    color: #d3c8bb;
    font-size: 12px;
}

.quick-link .addLink {
    color: #D5CABD;
}

.quick-link .addLink:hover {
    color: #508269;
}

/* setLink 链接的添加菜单 */
.setLink {
    z-index: 2;
    position: absolute;
    bottom: 242px;
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: #508269;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

/* 控制 setLink 是否显示 */
.show {
    display: flex;
}

.setLink h5 {
    color: #D5CABD;
}

.setLink .link-url,
.setLink .link-title {
    width: 90%;
    height: 20px;
    padding: 2px 0 2px 4px;
    border: none;
    color: #397a6c;
    outline: #397a6c;
    background-color: #d4cec6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.setLink .submit-link {
    width: 40%;
    height: 20px;
    line-height: 20px;
    border: none;
    color: #508269;
    border: none;
    border-radius: 5px;
    background-color: #d4cec6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* 随机诗词 */
.randomPoetry {
    display: flex;
    height: 40px;
    line-height: 40px;
    margin-top: 40px;
}

.randomPoetry a {
    outline: none;
    color: #D5CABD;
}

.randomPoetry:hover a {
    color: #3E776B;
}

/* Footer */
footer {
    padding: 2px;
    font-size: 12px;
    color: #397a6c;
    margin-bottom: 2px;
    /* 毛玻璃效果 */
    /* background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 2px;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2); */
}


/* animate */
.animate__animated.animate__zoomIn,
.animate__animated.animate__zoomOut,
.animate__animated.animate__flipInX,
.animate__animated.animate__bounce,
.animate__animated.animate__fadeInUp,
.animate__animated.animate__fadeOutDown,
.animate__animated.animate__rotateIn,
.animate__animated.animate__rotateOut,
.animate__animated.animate__bounceInRight,
.animate__animated.animate__bounceOutRight,
.animate__animated.animate__pulse,
.animate__animated.animate__backOutUp,
.animate__animated.animate__backInDown {
    animation-duration: 1s;
}